In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
# 현재 작업 디렉토리 가져오기
current_directory = os.getcwd()
print("현재 디렉토리:", current_directory)

# 3개 위의 폴더 찾기
three_levels_up = os.path.dirname(os.path.dirname(os.path.dirname(current_directory)))
print("3개 위의 디렉토리:", three_levels_up)

# 3개 위의 폴더 찾기
data_path = os.path.join(three_levels_up,'ETF_data')
print("데이터 경로:", data_path)

현재 디렉토리: c:\Users\howsr\workspace\DSHY_main\DSHY\EDA 실습\농협 공모전
3개 위의 디렉토리: c:\Users\howsr\workspace\DSHY_main
데이터 경로: c:\Users\howsr\workspace\DSHY_main\ETF_data

In [3]:
# 현재 작업 디렉토리 확인
print("현재 작업 디렉토리:", os.getcwd())

# 새로운 디렉토리로 변경
os.chdir(data_path)

# 변경된 작업 디렉토리 확인
print("변경된 작업 디렉토리:", os.getcwd())

현재 작업 디렉토리: c:\Users\howsr\workspace\DSHY_main\DSHY\EDA 실습\농협 공모전
변경된 작업 디렉토리: c:\Users\howsr\workspace\DSHY_main\ETF_data

In [4]:
etf_df = pd.read_csv('etf_df.csv')

In [5]:
etf_df.iloc[:,:10].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9728 entries, 0 to 9727
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   티커종목코드      9728 non-null   object
 1   거래일자        9728 non-null   int64
 2   외화증권영문명     9728 non-null   object
 3   총보유계좌수      9728 non-null   int64
 4   총보유수량       9728 non-null   int64
 5   당사평균보유수량    9728 non-null   float64
 6   당사평균보유비중비율  9728 non-null   float64
 7   당사평균평가손익    9728 non-null   float64
 8   당사평균매입단가    9728 non-null   float64
 9   당사평균수익율     9728 non-null   float64
dtypes: float64(5), int64(3), object(2)
memory usage: 760.1+ KB

In [6]:
etf_df.iloc[:,10:20].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9728 entries, 0 to 9727
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   당사평균보유기간일수   9728 non-null   float64
 1   분포상위10퍼센트수치  9728 non-null   float64
 2   분포상위30퍼센트수치  9728 non-null   float64
 3   분포상위50퍼센트수치  9728 non-null   float64
 4   분포상위70퍼센트수치  9728 non-null   float64
 5   분포상위90퍼센트수치  9728 non-null   float64
 6   기준종가         9728 non-null   float64
 7   손실투자자비율      9728 non-null   float64
 8   수익투자자비율      9728 non-null   float64
 9   신규매수계좌수      9728 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 760.1 KB

In [7]:
etf_df.iloc[:,20:30].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9728 entries, 0 to 9727
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   전량매도계좌수   9728 non-null   int64
 1   종목조회건수    9728 non-null   int64
 2   관심종목등록건수  9728 non-null   int64
 3   종목종가      9258 non-null   float64
 4   전일대비증감율   9258 non-null   float64
 5   누적거래수량    9258 non-null   float64
 6   거래대금      9258 non-null   float64
 7   매도체결합계수량  9258 non-null   float64
 8   매수체결합계수량  9258 non-null   float64
 9   대상ETF티커   3406 non-null   object
dtypes: float64(6), int64(3), object(1)
memory usage: 760.1+ KB

In [8]:
etf_df.iloc[:,30:40].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9728 entries, 0 to 9727
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   1개월총수익율   3406 non-null   float64
 1   3개월총수익율   3406 non-null   float64
 2   1년총수익율    3406 non-null   float64
 3   ETF점수     3406 non-null   float64
 4   ETFZ점수    3406 non-null   float64
 5   Z점수순위     3406 non-null   float64
 6   누적수익율Z점수  3406 non-null   float64
 7   정보비율Z점수   3406 non-null   float64
 8   샤프지수Z점수   3406 non-null   float64
 9   상관관계Z점수   3406 non-null   float64
dtypes: float64(10)
memory usage: 760.1 KB

In [9]:
etf_df

,티커종목코드,거래일자,외화증권영문명,총보유계좌수,총보유수량,당사평균보유수량,당사평균보유비중비율,당사평균평가손익,당사평균매입단가,당사평균수익율,...,ETF점수,ETFZ점수,Z점수순위,누적수익율Z점수,정보비율Z점수,샤프지수Z점수,상관관계Z점수,트래킹에러Z점수,최대낙폭Z점수,변동성Z점수
0,AAPB,20240528,GRANITESHARES AAPL DAILY ETF,134,14026,104.67,14.70,195128.25,26719.95,6.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAPB,20240529,GRANITESHARES AAPL DAILY ETF,139,14259,102.58,14.53,175534.24,26845.70,6.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAPB,20240530,GRANITESHARES AAPL DAILY ETF,140,14324,102.31,14.54,196985.28,26832.75,7.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAPB,20240531,GRANITESHARES AAPL DAILY ETF,138,14166,102.65,14.37,251587.12,26842.32,9.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAPB,20240603,GRANITESHARES AAPL DAILY ETF,134,11343,84.65,14.21,273713.13,26786.26,12.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9723,YMAX,20240821,YIELDMAX UNIVRS FD OPT INCOM ETF,173,30181,174.46,10.91,-518520.12,27134.42,-11.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9724,YMAX,20240822,YIELDMAX UNIVRS FD OPT INCOM ETF,174,30395,174.68,10.84,-486999.29,27137.28,-10.39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9725,YMAX,20240823,YIELDMAX UNIVRS FD OPT INCOM ETF,172,30281,176.05,10.76,-559175.59,27147.45,-11.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9726,YMAX,20240826,YIELDMAX UNIVRS FD OPT INCOM ETF,172,29999,174.41,10.68,-508738.99,27157.81,-10.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9727,YMAX,20240827,YIELDMAX UNIVRS FD OPT INCOM ETF,172,29984,174.33,10.67,-545871.90,27123.61,-11.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (0.2.43)
Requirement already satisfied: pandas>=1.3.0 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (5.3.0)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\howsr\appdata\roaming\python\python312\site-packages (from yfinance) (4.2.2)
Requirement already satisfied: pytz>=2022.5 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (3.17.6)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: six>=1.9 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.3.0->yfinance) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\howsr\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
import yfinance as yf
import datetime

# 현재 날짜
today = datetime.datetime.today()

# 1년 전 날짜
one_year_ago = today - datetime.timedelta(days=365)

# '종목코드티커' 열에 있는 모든 티커들에 대해 데이터 불러오기
tickers = etf_df['티커종목코드'].unique()

# 모든 티커의 종가 데이터를 저장할 딕셔너리
all_close_prices = {}

for ticker in tickers:
    etf_data = yf.download(ticker, start=one_year_ago.strftime('%Y-%m-%d'), end=today.strftime('%Y-%m-%d'))
    all_close_prices[ticker] = etf_data[['Close']]

# 결과 출력 (예시로 첫 번째 티커의 데이터만 출력)
print(all_close_prices[tickers[0]])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                Close
Date
2023-10-06  24.320000
2023-10-09  24.650000
2023-10-10  24.510000
2023-10-11  24.760000
2023-10-12  25.080000
...               ...
2024-09-30  30.000000
2024-10-01  28.270000
2024-10-02  28.410000
2024-10-03  28.090000
2024-10-04  28.370001

[251 rows x 1 columns]

In [12]:
# 환율 데이터를 불러옵니다. 예를 들어, USD/KRW 환율 데이터를 가져옵니다.
exchange_rate_data = yf.download('USDKRW=X', start=one_year_ago.strftime('%Y-%m-%d'), end=today.strftime('%Y-%m-%d'))

# 모든 티커의 종가 데이터를 원화로 변환합니다.
all_close_prices_krw = {}
for ticker, data in all_close_prices.items():
    # 날짜에 맞는 환율을 가져옵니다.
    exchange_rates = exchange_rate_data['Close'].reindex(data.index, method='ffill')
    # 종가 데이터를 원화로 변환합니다.
    all_close_prices_krw[ticker] = data['Close'] * exchange_rates

# 결과 출력 (예시로 첫 번째 티커의 데이터만 출력)
print(all_close_prices_krw[tickers[0]])

[*********************100%***********************]  1 of 1 completed

Date
2023-10-06    32736.180214
2023-10-09    33113.823126
2023-10-10    33012.274567
2023-10-11    33225.197070
2023-10-12    33563.560943
                  ...
2024-09-30    39279.001465
2024-10-01    37184.378460
2024-10-02    37638.703227
2024-10-03    37192.003725
2024-10-04    37562.733042
Name: Close, Length: 251, dtype: float64

In [13]:
all_close_prices_krw['AAPB'].loc['2024-05-28']

28620.359964017523

In [14]:
exchange_rate_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-10-06,1346.060059,1356.810059,1338.989990,1346.060059,1346.060059,0
2023-10-09,1343.359985,1354.439941,1343.359985,1343.359985,1343.359985,0
2023-10-10,1346.890015,1351.689941,1341.939941,1346.890015,1346.890015,0
2023-10-11,1341.890015,1342.300049,1336.540039,1341.890015,1341.890015,0
2023-10-12,1338.260010,1347.650024,1333.060059,1338.260010,1338.260010,0
...,...,...,...,...,...,...
2024-09-27,1313.300049,1322.219971,1305.869995,1313.300049,1313.300049,0
2024-09-30,1309.300049,1315.099976,1302.800049,1309.300049,1309.300049,0
2024-10-01,1315.329956,1326.530029,1314.239990,1315.329956,1315.329956,0
2024-10-02,1324.839966,1325.449951,1317.189941,1324.839966,1324.839966,0
2024-10-03,1324.030029,1337.630005,1322.319946,1324.030029,1324.030029,0

In [15]:
exchange_rate_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-10-06,1346.060059,1356.810059,1338.989990,1346.060059,1346.060059,0
2023-10-09,1343.359985,1354.439941,1343.359985,1343.359985,1343.359985,0
2023-10-10,1346.890015,1351.689941,1341.939941,1346.890015,1346.890015,0
2023-10-11,1341.890015,1342.300049,1336.540039,1341.890015,1341.890015,0
2023-10-12,1338.260010,1347.650024,1333.060059,1338.260010,1338.260010,0
...,...,...,...,...,...,...
2024-09-27,1313.300049,1322.219971,1305.869995,1313.300049,1313.300049,0
2024-09-30,1309.300049,1315.099976,1302.800049,1309.300049,1309.300049,0
2024-10-01,1315.329956,1326.530029,1314.239990,1315.329956,1315.329956,0
2024-10-02,1324.839966,1325.449951,1317.189941,1324.839966,1324.839966,0
2024-10-03,1324.030029,1337.630005,1322.319946,1324.030029,1324.030029,0

In [16]:
# 야후 파이낸스에서 etf 종목 티커들의 발행수, 괴리율, 보수율, 업종, 섹터, 산업을 찾아서 데이터 프레임으로 만드는 코드

# 필요한 데이터 필드
fields = ['Ticker', 'Shares Outstanding', 'Discount/Premium', 'Expense Ratio', 'Industry', 'Sector', 'Category']

# 결과를 저장할 리스트
etf_info_list = []

# 각 티커에 대해 정보를 가져와서 리스트에 추가
for ticker in tickers:
    ticker_data = yf.Ticker(ticker)
    info = ticker_data.info
    
    etf_info = {
        'Ticker': ticker,
        'Shares Outstanding': info.get('sharesOutstanding', 'N/A'),
        'Discount/Premium': info.get('navPrice', 'N/A'),
        'Expense Ratio': info.get('annualReportExpenseRatio', 'N/A'),
        'Industry': info.get('industry', 'N/A'),
        'Sector': info.get('sector', 'N/A'),
        'Category': info.get('category', 'N/A')
    }
    
    etf_info_list.append(etf_info)

# 데이터 프레임으로 변환
etf_info_df = pd.DataFrame(etf_info_list, columns=fields)

# 결과 출력
print(etf_info_df)

    Ticker Shares Outstanding  Discount/Premium Expense Ratio Industry Sector  \
0     AAPB                N/A          28.11000           N/A      N/A    N/A
1     AAPU                N/A          35.63200           N/A      N/A    N/A
2      AIQ                N/A          37.02000           N/A      N/A    N/A
3     AIYY                N/A           8.87670           N/A      N/A    N/A
4     AMDL                N/A          14.94000           N/A      N/A    N/A
..     ...                ...               ...           ...      ...    ...
147    XLV                N/A         151.54005           N/A      N/A    N/A
148   XOMO                N/A          17.31410           N/A      N/A    N/A
149   XYLD                N/A          41.33000           N/A      N/A    N/A
150   YINN                N/A          46.24600           N/A      N/A    N/A
151   YMAX                N/A          17.30260           N/A      N/A    N/A

                      Category
0    Trading--Leveraged Equity
1    Trading--Leveraged Equity
2                   Technology
3            Derivative Income
4    Trading--Leveraged Equity
..                         ...
147                     Health
148          Derivative Income
149          Derivative Income
150  Trading--Leveraged Equity
151                Large Blend

[152 rows x 7 columns]

In [17]:
# 필요한 데이터 필드
fields = ['Ticker', 'Date', 'Discount/Premium']

# 결과를 저장할 리스트
discount_premium_list = []

# 각 티커에 대해 정보를 가져와서 리스트에 추가
for ticker in tickers:
    ticker_data = yf.Ticker(ticker)
    history = ticker_data.history(period="1y")
    
    for date, row in history.iterrows():
        discount_premium = row.get('navPrice', 'N/A')
        discount_premium_list.append({
            'Ticker': ticker,
            'Date': date,
            'Discount/Premium': discount_premium
        })

# 데이터 프레임으로 변환
discount_premium_df = pd.DataFrame(discount_premium_list, columns=fields)

# 결과 출력
print(discount_premium_df)

      Ticker                      Date Discount/Premium
0       AAPB 2023-10-05 00:00:00-04:00              N/A
1       AAPB 2023-10-06 00:00:00-04:00              N/A
2       AAPB 2023-10-09 00:00:00-04:00              N/A
3       AAPB 2023-10-10 00:00:00-04:00              N/A
4       AAPB 2023-10-11 00:00:00-04:00              N/A
...      ...                       ...              ...
38004   YMAX 2024-09-30 00:00:00-04:00              N/A
38005   YMAX 2024-10-01 00:00:00-04:00              N/A
38006   YMAX 2024-10-02 00:00:00-04:00              N/A
38007   YMAX 2024-10-03 00:00:00-04:00              N/A
38008   YMAX 2024-10-04 00:00:00-04:00              N/A

[38009 rows x 3 columns]